---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_75.0.3770
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 13 Jun 2019 21:21:19 GMT
      Etag:
      - '"f6526b177e51743e04eab2b42debcb62"'
      X-Goog-Generation:
      - '1560460879513580'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '12'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=FBQBjg==
      - md5=9lJrF35RdD4E6rK0LevLYg==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 75.0.3770.90
  recorded_at: Mon, 08 Jul 2019 02:47:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J7ikFUlkP_k&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Mon, 08 Jul 2019 02:48:03 GMT
recorded_with: VCR 5.0.0
