---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1562196311'
      Etag:
      - W/"aad93a575420d0dd754cef2cacf6eb47"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"kylecornelissen","id":46171611,"node_id":"MDQ6VXNlcjQ2MTcxNjEx","avatar_url":"https://avatars2.githubusercontent.com/u/46171611?v=4","gravatar_id":"","url":"https://api.github.com/users/kylecornelissen","html_url":"https://github.com/kylecornelissen","followers_url":"https://api.github.com/users/kylecornelissen/followers","following_url":"https://api.github.com/users/kylecornelissen/following{/other_user}","gists_url":"https://api.github.com/users/kylecornelissen/gists{/gist_id}","starred_url":"https://api.github.com/users/kylecornelissen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kylecornelissen/subscriptions","organizations_url":"https://api.github.com/users/kylecornelissen/orgs","repos_url":"https://api.github.com/users/kylecornelissen/repos","events_url":"https://api.github.com/users/kylecornelissen/events{/privacy}","received_events_url":"https://api.github.com/users/kylecornelissen/received_events","type":"User","site_admin":false},{"login":"bplantico","id":43261385,"node_id":"MDQ6VXNlcjQzMjYxMzg1","avatar_url":"https://avatars3.githubusercontent.com/u/43261385?v=4","gravatar_id":"","url":"https://api.github.com/users/bplantico","html_url":"https://github.com/bplantico","followers_url":"https://api.github.com/users/bplantico/followers","following_url":"https://api.github.com/users/bplantico/following{/other_user}","gists_url":"https://api.github.com/users/bplantico/gists{/gist_id}","starred_url":"https://api.github.[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1562465714'
      Etag:
      - W/"de3cc92700f1038013[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=%23%3CUser:0x007fd0177eb280%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1562707846'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Tue, 09 Jul 2019 21:22:02 GMT
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=%23%3CUser:0x007fc63f3d41d8%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1562707846'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Tue, 09 Jul 2019 21:22:49 GMT
recorded_with: VCR 5.0.0
