---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/chakeresa?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Ratelimit-Reset:
      - '1562890459'
      Etag:
      - W/"cf041d49c113ecc7bac9882ecd61e228"
      Last-Modified:
      - Thu, 11 Jul 2019 23:25:54 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"chakeresa","id":<GITHUB_UID>,"node_id":"MDQ6VXNlcjQ3MzA5ODYx","avatar_url":"https://avatars2.githubusercontent.com/u/<GITHUB_UID>?v=4","gravatar_id":"","url":"https://api.github.com/users/chakeresa","html_url":"https://github.com/chakeresa","followers_url":"https://api.github.com/users/chakeresa/followers","following_url":"https://api.github.com/users/chakeresa/following{/other_user}","gists_url":"https://api.github.com/users/chakeresa/gists{/gist_id}","starred_url":"https://api.github.com/users/chakeresa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chakeresa/subscriptions","organizations_url":"https://api.github.com/users/chakeresa/orgs","repos_url":"https://api.github.com/users/chakeresa/repos","events_url":"https://api.github.com/users/chakeresa/events{/privacy}","received_events_url":"https://api.github.com/users/chakeresa/received_events","type":"User","site_admin":false,"name":"Alexandra
        Chakeres","company":null,"blog":"https://www.linkedin.com/in/alexandrachakeres/","location":"Denver,
        CO","email":"alexchakeres@gmail.com","hireable":null,"bio":"Back End Engineering
        student at Turing School of Software & Design","public_repos":45,"public_gists":3,"followers":4,"following":1,"created_at":"2019-02-04T02:41:16Z","updated_at":"2019-07-11T23:25:54Z"}'
  recorded_at: Thu, 11 Jul 2019 23:58:53 GMT
recorded_with: VCR 5.0.0
