---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1562198271'
      Etag:
      - W/"033e8f7c9ef90b7696f5b5cef77144b2"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Mycobee","id":41843577,"node_id":"MDQ6VXNlcjQxODQzNTc3","avatar_url":"https://avatars3.githubusercontent.com/u/41843577?v=4","gravatar_id":"","url":"https://api.github.com/users/Mycobee","html_url":"https://github.com/Mycobee","followers_url":"https://api.github.com/users/Mycobee/followers","following_url":"https://api.github.com/users/Mycobee/following{/other_user}","gists_url":"https://api.github.com/users/Mycobee/gists{/gist_id}","starred_url":"https://api.github.com/users/Mycobee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Mycobee/subscriptions","organizations_url":"https://api.github.com/users/Mycobee/orgs","repos_url":"https://api.github.com/users/Mycobee/repos","events_url":"https://api.github.com/users/Mycobee/events{/privacy}","received_events_url":"https://api.github.com/users/Mycobee/received_events","type":"User","site_admin":false},{"login":"bplantico","id":43261385,"node_id":"MDQ6VXNlcjQzMjYxMzg1","avatar_url":"https://avatars3.githubusercontent.com/u/43261385?v=4","gravatar_id":"","url":"https://api.github.com/users/bplantico","html_url":"https://github.com/bplantico","followers_url":"https://api.github.com/users/bplantico/followers","following_url":"https://api.github.com/users/bplantico/following{/other_user}","gists_url":"https://api.github.com/users/bplantico/gists{/gist_id}","starred_url":"https://api.github.[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1562465714'
      Etag:
      - W/"1f9b8b9f1c9439799e[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=%23%3CUser:0x007fd0177b8b50%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1562707846'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Tue, 09 Jul 2019 21:22:02 GMT
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=%23%3CUser:0x007fc63d7e6908%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1562707846'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Tue, 09 Jul 2019 21:22:49 GMT
recorded_with: VCR 5.0.0
