---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_API_KEY>&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1562893915'
      Etag:
      - W/"2cb8a82e98751c79d91daec999a32378"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_API_KEY>&page=2&per_page=5>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_API_KEY>&page=15&per_page=5>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":194746869,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQ3NDY4Njk=","name":"brownfield-of-dreams","full_name":"chakeresa/brownfield-of-dreams","private":false,"owner":{"login":"chakeresa","id":<GITHUB_UID>,"node_id":"MDQ6VXNlcjQ3MzA5ODYx","avatar_url":"https://avatars2.githubusercontent.com/u/<GITHUB_UID>?v=4","gravatar_id":"","url":"https://api.github.com/users/chakeresa","html_url":"https://github.com/chakeresa","followers_url":"https://api.github.com/users/chakeresa/followers","following_url":"https://api.github.com/users/chakeresa/following{/other_user}","gists_url":"https://api.github.com/users/chakeresa/gists{/gist_id}","starred_url":"https://api.github.com/users/chakeresa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chakeresa/subscriptions","organizations_url":"https://api.github.com/users/chakeresa/orgs","repos_url":"https://api.github.com/users/chakeresa/repos","events_url":"https://api.github.com/users/chakeresa/events{/privacy}","received_events_url":"https://api.github.com/users/chakeresa/received_events","type":"User","site_admin":false},"html_url":"https://github.com/chakeresa/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams","forks_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/chakeresa/brownfield-of-dreams/deployments","created_at":"2019-07-01T21:43:22Z","updated_at":"2019-07-11T20:54:44Z","pushed_at":"2019-07-12T00:01:23Z","git_url":"git://github.com/chakeresa/brownfield-of-dreams.git","ssh_url":"git@github.com:chakeresa/brownfield-of-dreams.git","clone_url":"https://github.com/chakeresa/brownfield-of-dreams.git","svn_url":"https://github.com/chakeresa/brownfield-of-dreams","homepage":"","size":7735,"stargazers_count":2,"watchers_count":2,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":6,"license":null,"forks":0,"open_issues":6,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":168045397,"node_id":"MDEwOlJlcG9zaXRvcnkxNjgwNDUzOTc=","name":"battleship","full_name":"jalena-penaligon/battleship","private":false,"owner":{"login":"jalena-penaligon","id":45905026,"node_id":"MDQ6VXNlcjQ1OTA1MDI2","avatar_url":"https://avatars0.githubusercontent.com/u/45905026?v=4","gravatar_id":"","url":"https://api.github.com/users/jalena-penaligon","html_url":"https://github.com/jalena-penaligon","followers_url":"https://api.github.com/users/jalena-penaligon/followers","followi[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1562893915'
      Etag:
      - W/"de3cc92700f1038013[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1562893915'
      Etag:
      - W/"860bc567e35e6a4bb1[...]
- request:
    method: get
    uri: https://api.github.com/users/MillsProvosty?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1562893915'
      Etag:
      - W/"a5dc1860162fafc5c0eaf8d987757d5f"
      Last-Modified:
      - Thu, 11 Jul 2019 23:35:46 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"MillsProvosty","id":45856797,"node_id":"MDQ6VXNlcjQ1ODU2Nzk3","avatar_url":"https://avatars3.githubusercontent.com/u/45856797?v=4","gravatar_id":"","url":"https://api.github.com/users/MillsProvosty","html_url":"https://github.com/MillsProvosty","followers_url":"https://api.github.com/users/MillsProvosty/followers","following_url":"https://api.github.com/users/MillsProvosty/following{/other_user}","gists_url":"https://api.github.com/users/MillsProvosty/gists{/gist_id}","starred_url":"https://api.github.com/users/MillsProvosty/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MillsProvosty/subscriptions","organizations_url":"https://api.github.com/users/MillsProvosty/orgs","repos_url":"https://api.github.com/users/MillsProvosty/repos","events_url":"https://api.github.com/users/MillsProvosty/events{/privacy}","received_events_url":"https://api.github.com/users/MillsProvosty/received_events","type":"User","site_admin":false,"name":"Mills
        Provosty","company":null,"blog":"","location":"Denver, Co","email":null,"hireable":true,"bio":null,"public_repos":67,"public_gists":16,"followers":7,"following":11,"created_at":"2018-12-13T17:49:09Z","updated_at":"2019-07-11T23:35:46Z"}'
  recorded_at: Fri, 12 Jul 2019 00:11:39 GMT
- request:
    method: get
    uri: https://api.github.com/users/chakeresa?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1562893915'
      Etag:
      - W/"cf041d49c113ecc7b[...]
[...]
