---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/MillsProvosty?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1562973407'
      Etag:
      - W/"a5dc1860162fafc5c0eaf8d987757d5f"
      Last-Modified:
      - Thu, 11 Jul 2019 23:35:46 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"MillsProvosty","id":45856797,"node_id":"MDQ6VXNlcjQ1ODU2Nzk3","avatar_url":"https://avatars3.githubusercontent.com/u/45856797?v=4","gravatar_id":"","url":"https://api.github.com/users/MillsProvosty","html_url":"https://github.com/MillsProvosty","followers_url":"https://api.github.com/users/MillsProvosty/followers","following_url":"https://api.github.com/users/MillsProvosty/following{/other_user}","gists_url":"https://api.github.com/users/MillsProvosty/gists{/gist_id}","starred_url":"https://api.github.com/users/MillsProvosty/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MillsProvosty/subscriptions","organizations_url":"https://api.github.com/users/MillsProvosty/orgs","repos_url":"https://api.github.com/users/MillsProvosty/repos","events_url":"https://api.github.com/users/MillsProvosty/events{/privacy}","received_events_url":"https://api.github.com/users/MillsProvosty/received_events","type":"User","site_admin":false,"name":"Mills
        Provosty","company":null,"blog":"","location":"Denver, Co","email":null,"hireable":true,"bio":null,"public_repos":67,"public_gists":16,"followers":7,"following":11,"created_at":"2018-12-13T17:49:09Z","updated_at":"2019-07-11T23:35:46Z"}'
  recorded_at: Fri, 12 Jul 2019 22:16:32 GMT
- request:
    method: get
    uri: https://api.github.com/users/MillsProvosty1111?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1562973407'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/users/#get-a-single-user"}'
  recorded_at: Fri, 12 Jul 2019 22:16:32 GMT
- request:
    method: get
    uri: https://api.github.com/users/kylecornelissen?access_token=<GITHUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1562982397'
      Etag:
      - W/"4989c1eb43d[...]
